
.adminButtonGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.adminButton {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 5px var(--secondary-color);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.admin-button-link {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 5px var(--secondary-color);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.admin-button-link:visited {
    color: var(--secondary-color);
}

.statementsGrid {
    display: none;
    width: 100%;
}

.statementsGrid table {
    width: 100%;
    border-collapse: collapse;
}

.statementsGrid input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}

.newStatement {
    width: 100%;
    padding: 5px;
    border: var(--red-background-color) solid 1px;
}

.newStatement input, select, button {
    margin-top: 5px;
}

.modified {
    background-color: #ffff99; /* ljusgul bakgrund */
}

