
.weekend-title {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 2px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.weekend-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0;
    border-radius: 5px;
    background-color: var(--red-background-color);
}

.weekend-header-item {
    position: relative;
}

.weekend-header-item-content {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.weekend-header-item-content img {
    height: 100px;
    width: auto;
}

.flag {
    display: flex;
    justify-content: right;
    width: 100%;
}

.small-logo {
    display: flex;
    flex-direction: row;
}

.small-logo img {
    height: 60px;
    margin: 5px;
    border-color: var(--secondary-color);
    border-style: solid;
    border-width: 1px;
}

.small-logo h2 {
    margin-left: 10px;
}

#fanName {
    text-align: center;
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.session {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border: 1px solid var(--shade-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.bingo-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bingo-card h2 {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Skapar 4 kolumner */
    grid-gap: 0; /* Mellanrum mellan rutorna */
}

.grid-item {
    border: 1px solid var(--shade-color);
    position: relative; /* För att positionera innehållet */
}

.grid-item.bingo {
    background-image: url('/public/images/f1-bg.png');
    background-size: cover; /* eller contain beroende på dina behov */
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item-even {
    background-color: var(--gray-background-color);
}

.grid-item-odd {
    background-color: var(--secondary-color);
}

.grid-item::before {
    content: '';
    display: block;
    padding-top: 100%; /* Nyckeln till att skapa kvadrater */
}

.grid-item-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px;
    overflow-wrap: break-word;
    hyphens: auto;
}

.grid-item-content.neutral {
    border: 5px;
}

.grid-item-content.red {
    border: solid 5px var(--red-background-color);
}

.grid-item-content.green {
    border: solid 5px var(--green-background-color);
}
