
.form-signin {
    display: flex;
    flex-direction: column;
}

.form-field {
    display: flex;
}

.form-field label {
    flex: 1;
    font-size: large;
    font-style: normal;
    margin-right: 10px;
    margin-top: 10px;
}

.form-field select {
    flex: 2;
    font-size: smaller;
    font-style: normal;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    color: var(--secondary-color);
}
input[type="text"], input[type="password"] {
    width: 100%; /* Makes input fields take full width of the form */
    padding: 10px;
    margin-bottom: 15px; /* Uniform margin for all sides */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding does not affect the final size */
}
