.verify-form-card {
    font-size: large;
    margin: 10px;
    padding: 20px;
    border: 1px solid var(--shade-color);
    border-radius: 5px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.submitButtonRow {
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    margin-top: 10px;
}

.submitButtonRow button {
    font-size: 21px;
    font-style: italic;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 3px solid var(--secondary-color);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid var(--secondary-color);
    text-align: left;
    padding: 8px;
}
