#chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Justera innehållet mot slutet av container */
}

#messages {
    overflow-y: auto; /* Gör meddelandelistan scrollbar */
    flex-grow: 1; /* Låter meddelandelistan expandera och ta upp allt tillgängligt utrymme */
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 50px;
}

#messageInputContainer {
    position: fixed;
    left: 0;
    bottom: 0; /* Placeras längst ner på skärmen */
    width: 100%; /* Bredden sätts till att ta upp hela bredden av skärmen */
    padding-bottom: env(safe-area-inset-bottom); /* Kompatibilitet för iPhone X och liknande enheter */
    box-sizing: border-box; /* Ser till att padding inte läggs till utanför den angivna bredden */
}

#messageInput {
    flex-grow: 1; /* Får inmatningsfältet att ta upp allt tillgängligt utrymme */
    margin-right: 10px; /* Ger lite utrymme mellan inmatningsfältet och skicka-knappen */
}

#messageForm {
    display: flex; /* Aktiverar flexbox-layout för formuläret */
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

@media (min-width: 600px) {
    #messageForm {
        max-width: 600px;
        margin: auto;
    }
}

#sendButton {
    width: auto; /* Gör att knappens storlek baseras på dess innehåll */
    padding: 10px 20px; /* Exempel på padding, justera efter behov */
    margin-right: 10px;
}

.time-stamp {
    font-size: 0.8em;
    color: #666;
}

.gp-message {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.chat-message {
    text-align: left;
}
