
.minor-title {
    font-size: large;
    text-align: left;
    justify-content: left;
    padding-left: 10px;
    margin-bottom: 10px;
}

.minor-title a {
    text-decoration: none;
}

.one-column {
    width: 100%;
}

.one-column table {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    width: 100%;
}

.one-column thead {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.one-column tr {
    border-style: solid;
    border-width: 1px;
}

.one-column table tr td:nth-child(1) {
    text-align: center;
}

.one-column table tr td:nth-child(3) {
    text-align: center;
}

.one-column table tr td:nth-child(4) {
    text-align: center;
}

.one-column table tr td:nth-child(5) {
    text-align: right;
}

.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    align-items: start;
    font-size: large;
}

.two-columns thead {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.two-columns table {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    width: 100%;
}

.two-columns tr {
    border-style: solid;
    border-width: 1px;
}

.two-columns-column {
    flex: 1;
    padding: 5px;
}

.responsive-img {
    width: 100%; /* Gör bilden responsiv så att den fyller kolumnens bredd */
    height: auto; /* Behåller bildens proportioner */
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    font-size: large;
}

.link-list a {
    text-decoration: none;
    color: var(--primary-color);
    display: flex; /* Gör så att ikonen och texten kan ligga på samma rad */
    align-items: center; /* Centrerar ikonen och texten vertikalt */
}

.icon {
    margin-right: 10px;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Avstånd mellan teamen */
}

.teams .team {
    display: flex;
    flex-direction: column; /* Placera bild och text i en kolumn */
    align-items: center; /* Centrera hela innehållet horisontellt */
    text-align: center;
}

.teams .team a {
    display: flex;
    flex-direction: column; /* Placera bild och text i en kolumn inom länken */
    align-items: center; /* Centrera innehållet inom länken */
    text-decoration: none; /* Ta bort understrykningen på länkarna */
    color: inherit; /* Behåll ärvd färg */
}

.teams img {
    width: auto;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px; /* Lägg till avstånd mellan bild och text */
    transition: transform 0.3s ease; /* En enkel hover-effekt */
}

.teams img:hover {
    transform: scale(1.1); /* Förstorar bilden vid hover */
}

.teams .team span {
    font-size: 14px; /* Justera storleken på texten */
    color: var(--primary-color); /* Färg på teamnamnet, kan justeras */
}
