
table {
    border-style: solid;
    border-width: 1px;
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

.flag {
    height: auto;
    width: 30px;
    margin-right: 3px;
}
