:root {
    --primary-color: black;
    --secondary-color: white;
    --red-background-color: #f11010;
    --green-background-color: #10f110;
    --gray-background-color: #f0f0f0;
    --shade-color: rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: 'race_sport';
    src: url('/font/race_sport.ttf') format('truetype')
}

body {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-family: 'Syne', sans-serif;
}

.title p {
    font-family: race_sport, 'Syne', sans-serif;
}

@media (max-width: 600px)  {
    .title p {
        font-size: large;
    }
}


.container {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
}

.logo {
    flex: 1; /* Ger lika mycket utrymme till logotypen och titeln */
}

.logo img {
    max-width: 100%; /* Säkerställer att bilden inte blir större än dess container */
    height: auto;
}

.shadow {
    box-shadow: 3px 3px 5px var(--shade-color),
    -1px -1px 2px rgba(255, 255, 255, 0.7);
}

.title {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
    font-style: normal;
    margin-bottom: 5px;
    margin-left: 2px;
    border-radius: 5px;
    background-color: #f11010;
}

.title a {
    text-decoration: none;
    color: var(--primary-color);
}

.help-icon {
    position: absolute; /* Absolut positionering relativt till .title */
    top: 0;
    right: 0;
    width: auto;
    margin-right: 10px;
    margin-top: 10px;
    font-size: large;
}

.help-icon div {
    border-style: solid;
    border-radius: 35px;
    border-color: var(--primary-color);
    width: 35px;
    font-size: large;
}

.chat-icon {
    position: absolute; /* Absolut positionering relativt till .title */
    bottom: 0;
    right: 0;
    width: auto;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: large;
}

.chat-icon img {
    width: 35px;
    height: 35px;
}

.content{
    margin-left: 10px;
    margin-right: 10px;
}

.weekend-form-card {
    font-size: large;
    margin: 10px;
    padding: 20px;
    border: 1px solid var(--shade-color);
    border-radius: 5px;
    background-color: var(--red-background-color);
}

.form-field {
    display: flex;
}

.form-field label {
    flex: 1;
    font-size: large;
    font-style: normal;
    margin-right: 10px;
    margin-top: 10px;
}

.form-field select {
    flex: 2;
    font-size: smaller;
    font-style: normal;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    color: var(--primary-color);
}

.submitButtonRow {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    padding-top: 10px;
    align-items: center;
}

.submitButtonRow button {
    font-size: 20px;
    font-style: normal;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid var(--shade-color);
}

.submitButtonRow img {
    width: 25px;
    height: 25px;
}

.midsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    background-image: url("/images/f1-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}


.car {
    flex: 0 0 280px; /* Flex-grow är 0, flex-shrink är 0, flex-basis är 280px */
    margin: 5px;
}

.car img {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .car {
        flex-basis: 45%; /* Varje bild tar upp hälften av containerns bredd */
    }
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer button {
    font-size: 18px;
    background-color: var(--red-background-color);
    border-radius: 5px;
    border: 1px solid var(--shade-color);
    margin: 1px;
}

.button-link {
    display: inline-block;
    font-size: 16px;
    width: 70px;
    color: var(--primary-color);
    background-color: var(--red-background-color);
    border-radius: 5px;
    border: 1px solid var(--shade-color);
    margin: 1px;
    padding-inline: 6px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
