.title {
    font-size: x-large;
}

.flag {
    height: 20px;
    width: auto;
}

.car {
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 1em;
}

th {
    text-align: left;
}

tr {
    border-width: 1px;
}

.yellow-cam {
    background-color: yellow;
}
